@import url('https://fonts.googleapis.com/css?family=Mada');
@media screen and (max-width: 480px) {
    .contactImage {
    	width: 80px;
    	height: 80px;
    }

    #googleMap {
    	width: 350px;
    	height: 250px;
    }
}
body {
	background: silver;
	h1, h2, p {
		font-family: 'Mada', sans-serif; 
	}
}
.navbar {
	margin-bottom: 10px;
}
.dropdown-toggle:hover {
	cursor: pointer;
}
#header {
	padding: 0;
	height: 10%;
}

#face {
	margin-top: 5px;
}

#first {
	
	background: silver;
	margin-top: 5px;
	border-right: 1px solid #fff;
	padding: 5;
}

#second {
	background: silver;
	margin-top: 5px;
	padding: 0;
}


.navbar-toggle span {
	position: relative;
	transition: all ease-in-out .5s;
}

.icon-bar {
	position: relative;
	top: 0;
}


.navbar-toggle.open span:nth-child(2){
 	width: 0;
 	opacity: 0;
}

.navbar-toggle.open span:nth-child(1){
	transform: rotate(45deg);
	top: 6px;
}
.navbar-toggle.open span:nth-child(3){
	transform: rotate(-45deg);
	top: -6px;
}

iframe {
	padding: 0;

}


.spn {
	width: 150px;
	height: 150px;
	float: left;
	margin: auto 20px;
}

.spn:nth-child(1n + 0){
	margin-bottom: 5px;
}

.contactImage {
	margin-bottom: 10px;
}

.borderUp {
	border-top: 1px solid #fff;
}

.plugin{
	float: right;
	width: 100px;
}