<h1 class="text-center">Aktivnosti</h1><hr>
	<a data-lightbox="aktivnosti" href="img/aktivnosti/aktivnosti01.jpg"><img src="img/aktivnosti/aktivnosti01.jpg" class="akt img-responsive" alt="Napredak037"></a>
	<a data-lightbox="aktivnosti" href="img/aktivnosti/aktivnosti02.jpg"><img src="img/aktivnosti/aktivnosti02.jpg" class="akt img-responsive" alt="Napredak037"></a>
	<a data-lightbox="aktivnosti" href="img/aktivnosti/aktivnosti03.jpg"><img src="img/aktivnosti/aktivnosti03.jpg" class="akt img-responsive" alt="Napredak037"></a>
	<a data-lightbox="aktivnosti" href="img/aktivnosti/aktivnosti04.jpg"><img src="img/aktivnosti/aktivnosti04.jpg" class="akt img-responsive" alt="Napredak037"></a>
	<a data-lightbox="aktivnosti" href="img/aktivnosti/aktivnosti05.jpg"><img src="img/aktivnosti/aktivnosti05.jpg" class="akt img-responsive" alt="Napredak037"></a>
	<a data-lightbox="aktivnosti" href="img/aktivnosti/aktivnosti06.jpg"><img src="img/aktivnosti/aktivnosti06.jpg" class="akt_last img-responsive" alt="Napredak037"></a>