<form  class="col-lg-10 col-md-offset-1">
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Unesite Vase Ime">
	</div>
	<div class="form-group">
		<input class="form-control" type="email" placeholder="Unesite Vas Email">
	</div>
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Naslov">
	</div>
	<div class="form-group">
		<textarea class="form-control" rows="5" placeholder="Unesite Text"></textarea> 
	</div>
	<div class="form-group">
		<input class="btn btn-danger btn-block" type="submit" value="Posalji" >
	</div>
</form>