<h1 class="text-center">Kontakt</h1><hr>
<address>
	<img class="img-responsive img-circle pull-right" src="img/lazar.jpg" title="Lazar Jovic - predsednik Odbojkaškog kluba 'Napredak 037'" alt="Napredak037">	
	<strong>Odbojkaški klub "Napredak 037" <br>
	Ćirila i Metodija ul. <br>
	37000 Kruševac <br>
	Predsednik kluba: Lazar Jović <br>
	kontakt telefon: +381 64 1550286 <br>
	email: oknapredak037@gmail.com <br>
	</strong>						
</address>	<br>

<form>
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Unesite Vase Ime">
	</div>
	<div class="form-group">
		<input class="form-control" type="email" placeholder="Unesite Vas Email">
	</div>
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Naslov">
	</div>
	<div class="form-group">
		<textarea class="form-control" rows="5" placeholder="Unesite Text"></textarea> 
	</div>
	<div class="form-group">
		<input class="btn btn-danger btn-block" type="submit" value="Posalji" >
	</div>
</form>