<h2 class="text-center">Kontakt</h2><hr class="marginTop">
<address>
	<img class="contactImage img-responsive img-circle pull-right" src="img/lazar.jpg" title="Lazar Jovic - predsednik Odbojkaškog kluba 'Napredak 037'" alt="Napredak037">	
	<strong>Odbojkaški klub "Napredak 037" <br>
	Ćirila i Metodija ul. <br>
	37000 Kruševac <br>
	<span class="glyphicon glyphicon-user"></span> Lazar Jović <br>
	<span class="glyphicon glyphicon-phone"></span> +381 64 1550286 <br>
	<span class="glyphicon glyphicon-envelope"></span> oknapredak037@gmail.com <br>
	</strong>
	<iframe id="googleMap" width="400" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJb8srXPGHVkcRWPFnuu_LLV0&key=AIzaSyCk7F4aUaogRMFz2Pmi9pwzv-LclIMvaDQ" allowfullscreen></iframe>						
</address>	<br>
<h1 class="text-center">Kontaktirajte nas putem email-a!</h1>
<form>
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Unesite Vase Ime">
	</div>
	<div class="form-group">
		<input class="form-control" type="email" placeholder="Unesite Vas Email">
	</div>
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Naslov">
	</div>
	<div class="form-group">
		<textarea class="form-control" rows="5" placeholder="Unesite Text"></textarea> 
	</div>
	<div class="form-group">
		<input class="btn btn-danger btn-block" type="submit" value="Posalji" >
	</div>
</form>