<section class="table-responsive">
<h1 class="text-center">I tim Seniorke | Ženska ekipa</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Ime i Prezime</th>
			<th>Slika</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Trener - Lazar Jović</td>
			<td><a href="img/mok/16.jpg" data-lightbox="gallery" data-title="Trener - Lazar Jović"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Aleksandra Bakus</td>	
			<td><a href="img/zok/1.jpg" data-lightbox="gallery" rel="lightbox" data-title="Aleksandra Bakus"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Andjela Jurić</td>
			<td><a href="img/zok/2.jpg" data-lightbox="gallery" data-title="Andjela Jurić"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Kristina Andjelić</td>	
			<td><a href="img/zok/3.jpg" data-lightbox="gallery" data-title="Kristina Andjelić"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		
		<tr>
			<td>Mina Cerović</td>
			<td><a href="img/zok/4.jpg" data-lightbox="gallery" data-title="Mina Cerović"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Iva Ivanović</td>
			<td><a href="img/zok/5.jpg" data-lightbox="gallery" data-title="Iva Ivanović"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Iva Vučković</td>
			<td><a href="img/zok/6.jpg" data-lightbox="gallery" data-title="Iva Vučković"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Ivana Srbljanin</td>
			<td><a href="img/zok/7.jpg" data-lightbox="gallery" data-title="Ivana Srbljanin"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Jelena Janković</td>
			<td><a href="img/zok/8.jpg" data-lightbox="gallery" data-title="Jelena Janković"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Kristina Milosavljević</td>
			<td><a href="img/zok/9.jpg" data-lightbox="gallery" data-title="Kristina Milosavljević"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Marija Milovanović</td>
			<td><a href="img/zok/10.jpg" data-lightbox="gallery" data-title="Marija Milovanović"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Marija Radenković</td>
			<td><a href="img/zok/11.jpg" data-lightbox="gallery" data-title="Marija Radenković"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>	
		<tr>
			<td>Marta Stefanović</td>
			<td><a href="img/zok/12.jpg" data-lightbox="gallery" data-title="Marta Stefanović"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Matilda Milanović</td>
			<td><a href="img/zok/13.jpg" data-lightbox="gallery" data-title="Matilda Milanović"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Jovana Miletić</td>
			<td><a href="img/zok/14.jpg" data-lightbox="gallery" data-title="Jovana Miletić"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Sonja Bjelanović</td>
			<td><a href="img/zok/15.jpg" data-lightbox="gallery" data-title="Sonja Bjelanović"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
		<tr>
			<td>Teodora Arsić</td>
			<td><a href="img/zok/15.jpg" data-lightbox="gallery" data-title="Teodora Arsić"><span class="glyphicon glyphicon-picture"></span></a></td>
		</tr>
	</tbody>
</table>
</section>