<section class="table-responsive">
<h1 class="text-center">I tim Seniori | Muška ekipa</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-center">Ime i Prezime</th>
			<th class="text-center">Slika</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Trener - Lazar Jović</td>
			<td><a href="img/mok/16.jpg" data-lightbox="gallery" rel="lightbox" data-title="lazar Jović"><img class="imgSmall img-thumbnail" src="img/mok/16.jpg" alt="Lazar Jovic"></td>
		</tr>
		<tr>
			<td>Uroš Marinković</td>	
			<td><a href="img/mok/1.jpg" data-lightbox="gallery" rel="lightbox" data-title="Uroš Marinković"><img class="imgSmall img-thumbnail" src="img/mok/1.jpg" alt="Uroš Marinković"></a></td>
		</tr>
		<tr>
			<td>Dimitrije Mitrović</td>
			<td><a href="img/mok/2.jpg" data-lightbox="gallery" data-title="Dimitrije Mitrović"><img class="imgSmall img-thumbnail" src="img/mok/2.jpg" alt="Dimitrije Mitrović"></a></td>
		</tr>
		<tr>
			<td>Stefan Lazarević</td>	
			<td><a href="img/mok/3.jpg" data-lightbox="gallery" data-title="Stefan Lazarević"><img class="imgSmall img-thumbnail" src="img/mok/3.jpg" alt="Stefan Lazarević"></a></td>
		</tr>
		
		<tr>
			<td>Stefan Radić</td>
			<td><a href="img/mok/4.jpg" data-lightbox="gallery" data-title="Stefan Radić"><img class="imgSmall img-thumbnail" src="img/mok/4.jpg" alt="Stefan Radić"></a></td>
		</tr>
		<tr>
			<td>Darko Stojić</td>
			<td><a href="img/mok/5.jpg" data-lightbox="gallery" data-title="Darko Stojić"><img class="imgSmall img-thumbnail" src="img/mok/5.jpg" alt="Darko Stojić"></a></td>
		</tr>
		<tr>
			<td>Martin Miljković</td>
			<td><a href="img/mok/6.jpg" data-lightbox="gallery" data-title="Martin Miljković"><img class="imgSmall img-thumbnail" src="img/mok/6.jpg" alt="Martin Miljković"></a></td>
		</tr>
		<tr>
			<td>Nikola Milovanović</td>
			<td><a href="img/mok/7.jpg" data-lightbox="gallery" data-title="Nikola Milovanović"><img class="imgSmall img-thumbnail" src="img/mok/7.jpg" alt="Nikola Milovanović"></a></td>
		</tr>
		<tr>
			<td>Milan Stamenković</td>
			<td><a href="img/mok/8.jpg" data-lightbox="gallery" data-title="Milan Stamenković"><img class="imgSmall img-thumbnail" src="img/mok/8.jpg" alt="Milan Stamenković"></a></td>
		</tr>
		<tr>
			<td>Bogdan Cekić</td>
			<td><a href="img/mok/9.jpg" data-lightbox="gallery" data-title="Bogdan Cekić"><img class="imgSmall img-thumbnail" src="img/mok/9.jpg" alt="Bogdan Cekić"></a></td>
		</tr>
		<tr>
			<td>Nemanja Cekić</td>
			<td><a href="img/mok/10.jpg" data-lightbox="gallery" data-title="Nemanja Cekić"><img class="imgSmall img-thumbnail" src="img/mok/10.jpg" alt="Nemanja Cekić"></a></td>
		</tr>
		<tr>
			<td>Stefan Jovanović</td>
			<td><a href="img/mok/11.jpg" data-lightbox="gallery" data-title="Stefan Jovanović"><img class="imgSmall img-thumbnail" src="img/mok/11.jpg" alt="Stefan Jovanović"></a></td>
		</tr>	
		<tr>
			<td>Aleksa Begović</td>
			<td><a href="img/mok/12.jpg" data-lightbox="gallery" data-title="Aleksa Begović"><img class="imgSmall img-thumbnail" src="img/mok/12.jpg" alt="Aleksa Begović"></a></td>
		</tr>
		<tr>
			<td>Nikola Milosavljević</td>
			<td><a href="img/mok/13.jpg" data-lightbox="gallery" data-title="Nikola Milosavljević"><img class="imgSmall img-thumbnail" src="img/mok/13.jpg" alt="Nikola Milosavljević"></a></td>
		</tr>
		<tr>
			<td>Nemanja Stevanović</td>
			<td><a href="img/mok/14.jpg" data-lightbox="gallery" data-title="Nemanja Stevanović"><img class="imgSmall img-thumbnail" src="img/mok/14.jpg" alt="Nemanja Stevanović"></a></td>
		</tr>
		<tr>
			<td>Nikola Ždraljević</td>
			<td><a href="img/mok/15.jpg" data-lightbox="gallery" data-title="Nikola Ždraljević"><img class="imgSmall img-thumbnail" src="img/mok/15.jpg" alt="Nikola Ždraljević"></a></td>
		</tr>
	</tbody>
</table>
</section>