<section class="table-responsive">
<h1 class="text-center">I tim Seniorke | Ženska ekipa</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Ime i Prezime</th>
			<th>Slika</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Trener - Lazar Jović</td>
			<td><a href="img/mok/16.jpg" data-lightbox="gallery" data-title="Trener - Lazar Jović"><img class="imgSmall img-thumbnail" src="img/mok/16.jpg" alt="Lazar Jovic"></a></td>
		</tr>
		<tr>
			<td>Aleksandra Bakus</td>	
			<td><a href="img/zok/1.jpg" data-lightbox="gallery" rel="lightbox" data-title="Aleksandra Bakus"><img class="imgSmall img-thumbnail" src="img/zok/1.jpg" alt="Lazar Jovic"></a></td>
		</tr>
		<tr>
			<td>Andjela Jurić</td>
			<td><a href="img/zok/2.jpg" data-lightbox="gallery" data-title="Andjela Jurić"><img class="imgSmall img-thumbnail" src="img/zok/2.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Kristina Andjelić</td>	
			<td><a href="img/zok/3.jpg" data-lightbox="gallery" data-title="Kristina Andjelić"><img class="imgSmall img-thumbnail" src="img/zok/3.jpg" alt=""></a></td>
		</tr>
		
		<tr>
			<td>Mina Cerović</td>
			<td><a href="img/zok/4.png" data-lightbox="gallery" data-title="Mina Cerović"><img class="imgSmall img-thumbnail" src="img/zok/4.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Iva Ivanović</td>
			<td><a href="img/zok/5.jpg" data-lightbox="gallery" data-title="Iva Ivanović"><img class="imgSmall img-thumbnail" src="img/zok/5.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Iva Vučković</td>
			<td><a href="img/zok/6.jpg" data-lightbox="gallery" data-title="Iva Vučković"><img class="imgSmall img-thumbnail" src="img/zok/6.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Ivana Srbljanin</td>
			<td><a href="img/zok/7.jpg" data-lightbox="gallery" data-title="Ivana Srbljanin"><img class="imgSmall img-thumbnail" src="img/zok/7.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Jelena Janković</td>
			<td><a href="img/zok/8.jpg" data-lightbox="gallery" data-title="Jelena Janković"><img class="imgSmall img-thumbnail" src="img/zok/8.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Kristina Milosavljević</td>
			<td><a href="img/zok/9.jpg" data-lightbox="gallery" data-title="Kristina Milosavljević"><img class="imgSmall img-thumbnail" src="img/zok/9.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Marija Milovanović</td>
			<td><a href="img/zok/10.jpg" data-lightbox="gallery" data-title="Marija Milovanović"><img class="imgSmall img-thumbnail" src="img/zok/10.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Marija Radenković</td>
			<td><a href="img/zok/11.jpg" data-lightbox="gallery" data-title="Marija Radenković"><img class="imgSmall img-thumbnail" src="img/zok/11.jpg" alt=""></a></td>
		</tr>	
		<tr>
			<td>Marta Stefanović</td>
			<td><a href="img/zok/12.jpg" data-lightbox="gallery" data-title="Marta Stefanović"><img class="imgSmall img-thumbnail" src="img/zok/12.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Matilda Milanović</td>
			<td><a href="img/zok/13.jpg" data-lightbox="gallery" data-title="Matilda Milanović"><img class="imgSmall img-thumbnail" src="img/zok/13.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Jovana Miletić</td>
			<td><a href="img/zok/14.jpg" data-lightbox="gallery" data-title="Jovana Miletić"><img class="imgSmall img-thumbnail" src="img/zok/14.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Sonja Bjelanović</td>
			<td><a href="img/zok/15.jpg" data-lightbox="gallery" data-title="Sonja Bjelanović"><img class="imgSmall img-thumbnail" src="img/zok/15.jpg" alt=""></a></td>
		</tr>
		<tr>
			<td>Teodora Arsić</td>
			<td><a href="img/zok/15.jpg" data-lightbox="gallery" data-title="Teodora Arsić"><img class="imgSmall img-thumbnail" src="img/zok/16.jpg" alt=""></a></td>
		</tr>
	</tbody>
</table>
</section>