<section class="table-responsive">
<h1 class="text-center">I tim Seniori | Muška ekipa</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Ime i Prezime</th>
			<th>Slika</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Trener - Lazar Jović</td>
			<td><a href="img/mok/16.jpg" data-lightbox="gallery" rel="lightbox" data-title="lazar Jović">Slika</a></td>
		</tr>
		<tr>
			<td>Uroš Marinković</td>	
			<td><a href="img/mok/1.jpg" data-lightbox="gallery" rel="lightbox" data-title="Uroš Marinković">Slika</a></td>
		</tr>
		<tr>
			<td>Dimitrije Mitrović</td>
			<td><a href="img/mok/2.jpg" data-lightbox="gallery" data-title="Dimitrije Mitrović">Slika</a></td>
		</tr>
		<tr>
			<td>Stefan Lazarević</td>	
			<td><a href="img/mok/3.jpg" data-lightbox="gallery" data-title="Stefan Lazarević">Slika</a></td>
		</tr>
		
		<tr>
			<td>Stefan Radić</td>
			<td><a href="img/mok/4.jpg" data-lightbox="gallery" data-title="Stefan Radić">Slika</a></td>
		</tr>
		<tr>
			<td>Darko Stojić</td>
			<td><a href="img/mok/5.jpg" data-lightbox="gallery" data-title="Darko Stojić">Slika</a></td>
		</tr>
		<tr>
			<td>Martin Miljković</td>
			<td><a href="img/mok/6.jpg" data-lightbox="gallery" data-title="Martin Miljković">Slika</a></td>
		</tr>
		<tr>
			<td>Nikola Milovanović</td>
			<td><a href="img/mok/7.jpg" data-lightbox="gallery" data-title="Nikola Milovanović">Slika</a></td>
		</tr>
		<tr>
			<td>Milan Stamenković</td>
			<td><a href="img/mok/8.jpg" data-lightbox="gallery" data-title="Milan Stamenković">Slika</a></td>
		</tr>
		<tr>
			<td>Bogdan Cekić</td>
			<td><a href="img/mok/9.jpg" data-lightbox="gallery" data-title="Bogdan Cekić">Slika</a></td>
		</tr>
		<tr>
			<td>Nemanja Cekić</td>
			<td><a href="img/mok/10.jpg" data-lightbox="gallery" data-title="Nemanja Cekić">Slika</a></td>
		</tr>
		<tr>
			<td>Stefan Jovanović</td>
			<td><a href="img/mok/11.jpg" data-lightbox="gallery" data-title="Stefan Jovanović">Slika</a></td>
		</tr>	
		<tr>
			<td>Aleksa Begović</td>
			<td><a href="img/mok/12.jpg" data-lightbox="gallery" data-title="Aleksa Begović">Slika</a></td>
		</tr>
		<tr>
			<td>Nikola Milosavljević</td>
			<td><a href="img/mok/13.jpg" data-lightbox="gallery" data-title="Nikola Milosavljević">Slika</a></td>
		</tr>
		<tr>
			<td>Nemanja Stevanović</td>
			<td><a href="img/mok/14.jpg" data-lightbox="gallery" data-title="Nemanja Stevanović">Slika</a></td>
		</tr>
		<tr>
			<td>Nikola Ždraljević</td>
			<td><a href="img/mok/15.jpg" data-lightbox="gallery" data-title="Nikola Ždraljević">Slika</a></td>
		</tr>
	</tbody>
</table>
</section>